# Publish as a Python Package to TestPyPI when pushing on main branch
name: Publish to TestPyPI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: test-pypi
      url: https://test.pypi.org/p/my_module
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install packaging tools
        run : pip install build
      - name: Build Python package
        run: python -m build
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
